* {
    margin: 0px;
    padding: 0px;
}
body {
    position: relative;
}

#header {
    background-image: url("img/images/h_bgs.png");
    width: 1024px;
    height: 150px;
    margin: auto;
}
#subnav {
    width: 470px;
    height: 30px;
    float: right;
    margin-top: 8px;

}
#subnav ul {
    list-style-type: none;
    margin-left: 10px;
}
#subnav ul li {
    float: left;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}
#subnav ul li a {
    text-decoration: none;
    color: #202020;
}
.pic {
    width: 30px;
    height: 30px;
    background-image: url("img/images/icon.gif");
    background-repeat: no-repeat;
}
#pic2 {
    background-position: -40px 0px;
}
#pic3 {
    background-position: -85px 3px;
}
#pic4 {
    background-position: -125px 3px;
}
#subnav ul li button {
    margin-left: 15px;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gainsboro;
    background-color: aliceblue;
    padding-left: 6px;
    padding-right: 6px;

}
#nav {
    width: 980px;
    height: 30px;
    float: left;

    margin-top: 60px;
    margin-left: 15px;
}
#nav ul {
    list-style-type: none;
    float: left;

}
#nav ul li {
    display: inline;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    position: relative;
    left: 10px;
    width: 83px;
    height: 30px;


}
#nav ul li a {
    color: #202020;
    font-weight: bolder;
    font-size: 14px;
    margin-left: 28px;
    text-decoration: none;
    position: relative;
    left: -5px;

}
#nav ul li a:hover {
    background-image: url("img/images/nav_bg.gif");

}
#search {
    margin-left: 80px;
    height: 20px;
    width: 150px;
    margin-top: 5px;
    float: left;
}
#onnock {
    background-image: url("img/images/onnock.png");
    width: 63px;
    height: 22px;
    border: 1px solid papayawhip;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
}
#container {
    width: 980px;
    margin-top: 10px;
    padding-top: 30px;
    background-image: url("img/images/reg_bg.gif");
    background-repeat: repeat-x;
    margin: auto;
    height: 590px;
}
.left {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    height: 500px;

}
table {
    width: 580px;
    height: 300px;


}
.along {
    text-align: right;
}
.right {
    margin-top: 50px;
    float: left;
    width: 316px;
    height: 500px;

}
textarea {
    margin-top: 20px;
}
span {
    font-weight: bolder;
}
.submitone {
     background-image: url("img/images/submit.gif");
     width: 80px;
     height: 34px;
     margin-left: 150px;
     margin-top: 20px;
     border: none;
 }
.submittwo {
    background-image: url("img/images/reset.gif");
    width: 80px;
    height: 34px;
    margin-top: 20px;
    border: none;
}
.box {
    margin-top: 150px;
    text-align: center;
    width: 980px;
    position: absolute;
    left: 451px;
    top: 650px;


}
.box ul {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;

}
.box li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid gray;
    font-size: 10px;

}
.b1 {
    border-left: 0px;
}
.box li a:link {
    color: grey;
    font-size: 12px;
}
.box li a:hover {
    color: red;
    font-size: 12px;

}
.box li a:visited {
    color: lightblue;
}
.box p {
    font-size: 14px;
    margin-top: 10px;
}
.t3 {
    text-align: center;
    width: 0px;
    height: 0px;
    margin: auto;
}
